tr{ 
	margin:10px;
 	padding:10px; 
 	border-top: 1px solid 	#dee2e6;
 	border-buttom: 1px solid 	#dee2e6;
 } 
td{  
 	margin:10px; 
 	padding:10px; 
 }
 th{
 margin:10px; 
 	padding:10px;
 } 
 
 span{
 	padding:5px;
 }
.total{
	font-size:20px;
	font-weight:bold;
}
 .btn1{
 	margin-right:10px;
 }
 .btn2{
 	margin-left:10px;
 }
.tb{
	padding: 10px;
	border-collapse: collapse;
	margin:auto;
	margin-bottom:20px;
/* 	border: 1px solid #111111; */
	width:795px;
}

.cartdiv{
	margin:20px auto;
	padding:0px;
	width:795px;
 	text-align: center;
/*  	background-color:#02df82; */
/*  	height:1600px; */
 }