table {
	margin: 10px;
	padding: 10px;
	border-collapse: collapse;
}
tr{ 
	margin:10px;
 	padding:10px; 
 } 
td{  
 	margin:10px; 
 	padding:10px; 
 } 
span{
 	padding:5px;
 }
div{
	text-align:center;
}